*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    text-align: center;

}
main .h1{
    font-size: 17px;
    margin-top: 8rem;
}
.textServicos{
    visibility: hidden;
    overflow: hidden;
}
.textServicos .p-span{
   font-size: 22px;
   font-weight: 500;
   font-family: system-ui;
}
.textServicos .span-novaHera{
    color: #ff7434;
    font-weight: bold;
    
}
.textServicos .span-netVision{
    color: rgb(0, 47, 255);
    font-weight: bold;
}

.arte img{
    background-repeat: no-repeat;
}
/************** LISTA ****************/



.lista{
    visibility: hidden;
    overflow: hidden;
}



/************** CARD ****************/



.card{
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.card_div{
    background: linear-gradient( 180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100% );
    padding: 25px;
    
    border-radius: 8px;
    border-bottom: solid #d1c301 1px;
}
.internoCard{
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    height: 168px;
}
.internoCard .span_1, .span_2{ 
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}



/**************@MEDIA PAGE****************/

@media (max-width:500px){
    .textServicos{
        visibility: visible;
        overflow: visible;
    }
    .imgAcima500px{
        display: none;
        visibility: hidden;
        overflow: hidden;
    }
    .arte{
        visibility: visible;
        overflow: visible;
        display: inline-table;
        margin: 4rem 0.4rem 0 1rem;
        background: linear-gradient(0deg, rgba(1, 7, 39, 0.651), rgb(255, 166, 0));
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        
        border-radius: 8px;
        width: 316px;
        height: 225px;
    }
    .arte img{
        /* -webkit-mask-image: linear-gradient(to top, transparent 5%, black 100%);
        mask-image: linear-gradient(to top, transparent 5%, black 100%); */
    
        border-radius: 8px;
    }   

}
/* 910px */
@media (min-width: 500px){
    /* main{
        display: flex;
        display: table-column;
        place-content: center;
    }
    
    main .card_div{
        max-width: 910px;
        margin: 0 .4rem 0 1rem;
    } */
    .arte .imgNeymar{
        display: none;
    }

}