*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;



    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
}
:root{
    font-size: 62.5%;
    --cor-bg:#030328;
    --cor-font:#fff;
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    line-height: 1.6;

    color: var(--cor-font);


    background-color: rgb(10, 10, 10);

}
header{
    background-color: var(--cor-bg);
    display: flex;
    place-items: center;
    justify-content: space-between;
}
header img{
    padding: 2rem;
}
header ul{
    display: flex;
    gap: 1rem;
    margin-right: 2rem;
}
header a{
    list-style: none;
    text-decoration: none;
    color: var(--cor-font);
}




nav{
    font-family: 'Roboto', sans-serif;
    display: grid;
}
nav p {
    margin-top: 10rem;
    margin-left: 3rem;
    font-size: 44px;
    font-weight: 900;

}
nav span{
    margin-top: 3rem;
    margin-left: 3rem;
    font-size: 19px;
    font-weight: 300;
}


form{
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    
}
nav input{
    margin: 1rem 3rem 3rem ;

    width: 32%;
    padding: 24px 16px 8px;
    
    border: 0 solid transparent;
    border-radius: 0.25rem;
}
nav button{
    margin-top: 1.0rem;

    display: flex;
    align-items: center;
    
    height: 50px;
    padding: 12px 24px;
    min-height: 3.5rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;

    font-size: 24px;
    font-weight: 500;

    
    

    color: var(--cor-font);
    background-color: blue; /*cor temporaria*/
    
}
@media (max-width:768px){
    nav form{
        /* background-color: antiquewhite; */
        display: grid;
    }
    nav p{
        font-size: 35px;
    }
    form input{
        width: 50%;
    }
    form button{
        max-width: 148px;
        
        display: flex;
        align-items: center;
        
        margin-left: 3rem;
    }
}
@media (max-width:600px){
    nav span{
        font-size: 17px;
    }
    form input{
        width: 72%;
    }
    form{
        margin-bottom: 3rem;
    }
}
